.ui-pnotify.pnotify-stack-top-right {
  top: 65px;
  right: 25px;
  bottom: auto;
  left: auto;
}
.ui-pnotify.pnotify-stack-bottom-right {
  bottom: 70px;
  right: 25px;
  top: auto;
  left: auto;
}
.form-standard .control-group {
  margin-bottom: 1em;
}
.form-standard .control-group label {
  margin-bottom: 3px;
  font-size: .95em;
}
.form-standard .control-group .controls {
  line-height: 1em;
  min-height: 20px;
  margin-bottom: 0;
}
.form-standard .control-group .controls input {
  margin-bottom: 0;
}
.form-standard .control-group.error .help-inline {
  font-size: .8em;
}
.form-standard fieldset {
  margin-bottom: 2em;
}
.form-standard fieldset legend {
  margin-bottom: 0;
}
.form-horizontal .control-group label {
  font-size: .95em;
}
.form-horizontal .control-group.error .help-inline {
  display: none;
}
.form-horizontal fieldset {
  margin-bottom: 2em;
}
.form-horizontal fieldset legend {
  margin-bottom: 0;
}
@media (max-width: 978px) {
  .twb-stickyUi .twb-sticky-ghost {
    display: none;
  }
  .twb-stickyUi .twb-sticky {
    position: relative;
    width: auto !important;
    top: auto !important;
    bottom: auto !important;
  }
}
@media (min-width: 979px) {
  .twb-stickyUi .twb-sticky {
    position: fixed;
    left: 0;
    margin: 0;
  }
  .twb-stickyUi .twb-sticky-ghost {
    display: block;
  }
  .twb-stickyUi #twb-sticky-pageheader {
    background: #F5F5F5;
    background: rgba(252,252,252,0.9);
    box-shadow: 0 0 8px #aaa;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #aaa;
  }
  .twb-stickyUi #twb-sticky-pageheader h1 {
    font-size: 1.2em;
    margin: 0 10px 0px 20px;
    text-shadow: 0 1px #fff;
  }
  .twb-stickyUi #twb-sticky-pageheader .pull-right {
    margin: 5px 20px 0 0;
  }
  .twb-stickyUi .form-actions.twb-sticky {
    box-shadow: 0 0 8px #aaa;
    padding: 10px 0;
    margin-bottom: -2px;
    border-top: 1px solid #ccc;
    text-align: center;
    background: #fff;
    background: rgba(255,255,255,0.8);
    background: #e0f3fa;
    background: -moz-linear-gradient(top,#e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e0f3fa),color-stop(50%,#d8f0fc),color-stop(51%,#b8e2f6),color-stop(100%,#b6dffd));
    background: -webkit-linear-gradient(top,#e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
    background: -o-linear-gradient(top,#e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
    background: -ms-linear-gradient(top,#e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
    background: linear-gradient(to bottom,#e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f3fa',endColorstr='#b6dffd',GradientType=0);
  }
}
