/**
 * Twb Plugin
 * main adaptive style
 */




// ----------------------------------------- //
// ---[[   U I   C O M P O N E N T S   ]]--- //
// ----------------------------------------- //

@media (max-width: 978px) {
	.page-header {
		margin-top:0;
		padding:0;
		h1 {
			font-size:1.4em;
			margin:0;
		}
	}
}







// ----------------------------------------- //
// ---[[   N O T I F I C A T I O N S   ]]--- //
// ----------------------------------------- //

.ui-pnotify.pnotify-stack-top-right {
	top: 65px;
	right: 25px;
	bottom: auto;
	left: auto;
}

.ui-pnotify.pnotify-stack-bottom-right {
	bottom: 70px;
	right: 25px;
	top: auto;
	left: auto;
}






// ----------------------------------------- //
// ---[[   F O R M   S T A N D A R D   ]]--- //
// ----------------------------------------- //

.form-standard {
	.control-group {
		margin-bottom:1em;
		
		label {
			margin-bottom: 3px;
			font-size:.95em;
		}
		.controls {
			line-height: 1em;
			min-height: 20px;
			margin-bottom:0;
			
			input {
				margin-bottom:0;
			}
		}
		
		&.error .help-inline {
			font-size:.8em;
		}
	}
	
	fieldset {
		margin-bottom:2em;
		legend {
			margin-bottom:0;
		}
	}
}



// --------------------------------------------- //
// ---[[   F O R M   H O R I Z O N T A L   ]]--- //
// --------------------------------------------- //



.form-horizontal {
	.control-group {
		label {
			font-size:.95em;
		}
	}
	
	fieldset {
		margin-bottom:2em;
		legend {
			margin-bottom:0;
		}
	}
}

/**
 * GoodBrowsers:
 * hide form's error messages
 * (they are replaced by tooltips!)
 */
html.good .form-horizontal .error .help-inline {
	display:none;
}







// --------------------------------- //
// ---[[   S T I C K Y   U I   ]]--- //
// --------------------------------- //


/**
 * iPad portrait and smaller devices does not implement sticky!
 */
@media (max-width: 978px) {
	.twb-stickyUi {
		.twb-sticky-ghost {
			display: none;
		}
		.twb-sticky {
			position: relative;
			width: auto !important;
			top:auto !important;
			bottom:auto !important;
		}
	}
}

@media (min-width: 979px) {
	.twb-stickyUi {
		.twb-sticky {
			position: fixed;
			left: 0;
			margin: 0;
		}
		
		.twb-sticky-ghost {
			display: block;
		}
		
		#twb-sticky-pageheader {
			background: #F5F5F5;
			
			background: rgba(252,252,252,.9);
			box-shadow: 0 0 8px #aaa;
			padding-top:5px;
			padding-bottom:5px;
			margin-top:1px;
			border-top:1px solid #fff;
			border-bottom:1px solid #aaa;
			
			h1 {
				font-size:1.2em;
				margin: 0 10px 0px 20px;
				text-shadow: 0 1px #fff;
			}
			
			.pull-right {
				margin:5px 20px 0 0;
			}
			
		}
		
		.form-actions.twb-sticky {
			box-shadow: 0 0 8px #aaa;
			padding:10px 0;
			margin-bottom:-2px;
			border-top:1px solid #ccc;
			text-align: center;
			background: #fff;
			background: rgba(255,255,255,.8);
			
			background: #e0f3fa; /* Old browsers */
			background: -moz-linear-gradient(top,  #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(50%,#d8f0fc), color-stop(51%,#b8e2f6), color-stop(100%,#b6dffd)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */
	
			
		}
	}

}




/**
 * Hide all content for old IE browsers!
 * hope a server side component redirects to a communication page who tell user to change browser!
 */
html.badie body {display:none !important;}

