/**
 * Twb Plugin
 * main adaptive style
 */




// ----------------------------------------- //
// ---[[   U I   C O M P O N E N T S   ]]--- //
// ----------------------------------------- //

@media (max-width: 978px) {
	.page-header {
		margin-top:0;
		padding:0;
		h1 {
			font-size:1.4em;
			margin:0;
		}
	}
}


#twb-ajax-activity {
	position:fixed;
	top:-45px;
	left:50%;
	margin-left:-100px;
	z-index:9999;
	
	display: block;
	width:200px;
	height:25px;
	
	background: rgba(255,255,255,.8);
	border: 4px solid #bbb;
	border-radius:5px;
	box-shadow: 3px 3px 5px #aaa;
	
	text-align:center;
	padding-top:2px;
	
	-webkit-transition: all 150ms cubic-bezier(0.155, 0.640, 1.000, 0.675);
	transition: all 150ms cubic-bezier(0.155, 0.640, 1.000, 0.675);
}
#twb-ajax-activity.visible {
	top:-5px;
}


.table {
	background: #fff;
}






// --------------------------------------- //
// ---[[   P A G E   C O L U M N S   ]]--- //
// --------------------------------------- //

@media (max-width: 978px) {
	.twb-span-content, .twb-span-sidebar {
		float: none;
		clear: both;
		margin:0 !important;
		width:100% !important;
	}
}






// ------------------------------------- //
// ---[[   P A G E   H E A D E R   ]]--- //
// ------------------------------------- //

.twb-page-header {
	position:relative;
	z-index: auto;
	
	.btn-group {
		position: absolute;
		bottom:5px;
		right:0;
	}
}

@media (max-width: 978px) {
	.twb-page-header {
		small {
			display:block;
			font-size:.7em;
			margin-bottom:5px;
			margin-top:-8px;
		}
	}
}

@media (max-width: 480px) {

	.pull-right {
		float: none;
		clear: both;
		margin:5px 0;
	}
	
	.twb-page-header {
		
		margin-top:-15px;
		
		h1, h2, h3, h4, h5, h6, small {
			font-size:1.3em;
			line-height: 1.4em;
			margin:0;
		}
		small {
			font-size:.7em;
		}
		
		.btn-group {
			position: relative;
			bottom:auto;
			right:auto;
		}
	}
	
}

@media (min-width: 978px) {
	.twb-page-header.twb-sticky {
		position: relative;
		z-index: 999;
		h1, h2, h3, h4, h5, h6 {
			float:left;
		}
		.btn-group {
			position: relative;
			bottom:auto;
			right:auto;
		}
	}
}



// ----------------------------------------- //
// ---[[   N O T I F I C A T I O N S   ]]--- //
// ----------------------------------------- //

.ui-pnotify.pnotify-stack-top-right {
	top: 65px;
	right: 25px;
	bottom: auto;
	left: auto;
}

.ui-pnotify.pnotify-stack-bottom-right {
	bottom: 70px;
	right: 25px;
	top: auto;
	left: auto;
}






// ----------------------------------------- //
// ---[[   F O R M   S T A N D A R D   ]]--- //
// ----------------------------------------- //

.form-standard {
	.control-group {
		margin-bottom:1em;
		
		label {
			margin-bottom: 3px;
			font-size:.95em;
		}
		.controls {
			line-height: 1em;
			min-height: 20px;
			margin-bottom:0;
			
			input {
				margin-bottom:0;
			}
		}
		
		&.error .help-inline {
			font-size:.8em;
		}
	}
	
	fieldset {
		margin-bottom:2em;
		legend {
			margin-bottom:0;
		}
	}
}



// --------------------------------------------- //
// ---[[   F O R M   H O R I Z O N T A L   ]]--- //
// --------------------------------------------- //



.form-horizontal {
	.control-group {
		label {
			font-size:.95em;
		}
	}
	
	fieldset {
		margin-bottom:2em;
		legend {
			margin-bottom:0;
		}
	}
	
}

/**
 * GoodBrowsers:
 * hide form's error messages
 * (they are replaced by tooltips!)
 */
html.good .form-horizontal .error .help-inline {
	display:none;
}


/**
 * Autosize textarea:
 */
textarea[data-twb-autosize="on"] {
	vertical-align: top;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}


/**
 * Popover customization
 */
.popover {
	.popover-content {
		font-size:.9em;
		hr {
			margin:5px 0;
		}
	}
}



// --------------------------------- //
// ---[[   S T I C K Y   U I   ]]--- //
// --------------------------------- //


/**
 * iPad portrait and smaller devices does not implement sticky!
 */
@media (max-width: 978px) {
	.twb-stickyUi {
		.twb-sticky-ghost {
			display: none;
		}
		.twb-sticky {
			position: relative;
			width: auto !important;
			top:auto !important;
			bottom:auto !important;
		}
	}
}

@media (min-width: 979px) {
	.twb-stickyUi {
		.twb-sticky {
			position: fixed;
			left: 0;
			margin: 0;
		}
		
		.twb-sticky-ghost {
			display: block;
		}
		
		#twb-sticky-pageheader {
			background: #F5F5F5;
			
			background: rgba(252,252,252,.9);
			box-shadow: 0 0 8px #aaa;
			padding-top:5px;
			padding-bottom:5px;
			margin-top:1px;
			border-top:1px solid #fff;
			border-bottom:1px solid #aaa;
			
			h1 {
				font-size:1.2em;
				margin: 0 10px 0px 20px;
				text-shadow: 0 1px #fff;
				
				small {
					font-size:.85em;
					color:#888;
					text-shadow: 0 1px #fff;
					&:before {
						content: "\00bb\00a0 ";
						font-size: .8em;
					}
				}
			}
			
			.pull-right {
				margin:5px 20px 0 0;
			}
			
			/**
			 * non fluid layout fix to center sticky pageheader contents
			 */
			.container {
				h1 {
					margin-left:0;
				}
				.pull-right {
					margin-right:0;
				}
			}
			
		}
		
		.form-actions.twb-sticky {
			box-shadow: 0 0 8px #aaa;
			padding:10px 0;
			margin-bottom:-2px;
			border-top:1px solid #ccc;
			text-align: center;
			background: #fff;
			background: rgba(255,255,255,.8);
			
			background: #e0f3fa; /* Old browsers */
			background: -moz-linear-gradient(top,  #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(50%,#d8f0fc), color-stop(51%,#b8e2f6), color-stop(100%,#b6dffd)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */
	
			
		}
	}

}




/**
 * Hide all content for old IE browsers!
 * hope a server side component redirects to a communication page who tell user to change browser!
 */
html.badie body {display:none !important;}

